[submodule "engine"]
	path = engine
	url = http://git.aikester.com/scientia/engine.git
[submodule "modules/logic"]
	path = modules/logic
	url = http://git.aikester.com/scientia/logic.git
[submodule "www"]
	path = www
	url = http://git.aikester.com/scientia/www.git
[submodule "modules/tic-tac-toe"]
	path = modules/tic-tac-toe
	url = http://git.aikester.com/scientia/tic-tac-toe.git
